In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Question 1 pandas version
pd.__version__

In [ ]:
df = pd.read_csv('./data/housing.csv')

In [ ]:
# Question 2 number of columns
print(df.shape[1])

In [ ]:
# Question 3 columns with missing data

df.isna().sum()

In [ ]:
# question 4 nunique for ocean_prox column
(
    df
    .nunique()
)

In [ ]:
# question 5 average of median house value

(
    df
    .query("ocean_proximity == 'NEAR BAY'")
    .select_dtypes('number')
    .mean()
)

In [ ]:
#Question 6 average of mean bedrooms and fillna with the mean and recalculate
(
    df
    .loc[:,'total_bedrooms']
    .mean()
)

In [ ]:
(
    df
    .loc[:,'total_bedrooms']
    .fillna(
        df
        .loc[:,'total_bedrooms']
        .mean()
    )
    .mean()
)

# Question 7
Select all the options located on islands.  
Select only columns housing_median_age, total_rooms, total_bedrooms.  
Get the underlying NumPy array. Let's call it X.  
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.  
Compute the inverse of XTX.  
Create an array y with values [950, 1300, 800, 1000, 1300].  
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.  
What's the value of the last element of w?

In [ ]:
(
    df
    .ocean_proximity
    .unique()
)

In [ ]:
X = (
    df
    .query("ocean_proximity == 'ISLAND'")
    .loc[:,['housing_median_age','total_rooms','total_bedrooms']]
    .values
)

In [ ]:
XTX = np.matmul(X.T, X)

In [ ]:
XTX_inv = np.linalg.inv(XTX)

In [ ]:
y = np.array([950, 1300, 800, 1000, 1300])

In [ ]:
w = np.matmul(np.matmul(XTX_inv, X.T), y)

In [ ]:
w[-1]